* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
h1 {
    color: rgb(209, 82, 82);
    font-size: 50px;
    margin: 10px 0;
}
h2 {
    text-align: center;
    margin: 15px 0;
    position: relative;
}
h2::before {
    content: "";
    background-color: black;
    width: 3%;
    height: 2px;
    bottom: -3px;
    left: 48%;
    position: absolute;
}
/* notice */
.notice {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
/* header */
.header {
    width: 100%;
    background-color: rgb(236, 231, 231);
    padding: 10px 30px;
    margin-bottom: 5px;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.header form {
    width: 40%;
    background-color: transparent;
}
.header form .search input {
    width: 84%;
    padding: 5px;
    outline: none;
    border: none;
    background: transparent;
    color: rgb(209, 82, 82);
}
.header form .search button {
    padding: 4px;
    margin-left: -4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.6s ease;
    color: rgb(209, 82, 82);
}
.header form .search button:hover {
    background-color: rgb(199, 194, 194);
}
.header .logo {
    color: rgb(209, 82, 82);
    font-size: 30px;
    font-weight: 500;
    font-family: cursive;
    cursor: pointer;
}
.header a {
    text-decoration: none;
    margin-right: 15px;
    color: rgb(209, 82, 82);
    font-size: 18px;
    transition: 0.6s ease;
}
.header a img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid rgb(209, 82, 82);
}
.header a:hover {
    color: rgb(238, 168, 168);
}
.header .socials a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-right: 5px;
    transition: 0.6s ease;
}
.header .socials a:hover{
    color: rgb(68, 66, 66);
}
/* nav */
.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 10px 0;
    margin: 5px 0;
}
.nav a {
    text-decoration: none;
    font-size: 20px;
    margin: 0 30px;
    color: black;
    transition: 0.6s ease;
    background-color: transparent;
}
.nav a:hover {
    color: rgb(85, 82, 82);
}
.banner {
    width: 100%;
    margin: 5px 0;
}
.banner img {
    width: 100%;
    height: 100vh;
    position: relative;
}
.banner .banner_info {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 30%);
    border: 1px solid transparent;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.banner .banner_info h1 {
    margin-bottom: 20px;
    color: white;
}
.banner .banner_info button {
    padding: 20px;
    width: 300px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    background: transparent;
    border: 1px solid rgb(209, 82, 82);
    transition: 6s ease;
    cursor: pointer;
    color: white;
}
.banner .banner_info button:hover {
    color: rgb(209, 82, 82);
    border: 1px solid white;
}
.container {
    width: 100%;
    background-color: transparent;
    padding: 20px 100px;
    margin: 5px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.container .card {
    background-color: transparent;
    width: 30%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 5px;
    transition: 2s ease;
    border-radius: 20px;
}
.container .card:hover {
    background-color: rgb(245, 240, 240);
}
.container .card .card_img {
    width: 100%;
    background-color: rgb(248, 246, 246);
    height: 40vh;
    padding: 10px;
    position: relative;
    border-radius: 20px;
    border: none;
    margin-bottom: 5px;
}
.container .card .card_img img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.container .card .card_img .card_featured {
    position: absolute;
    background-color: rgb(209, 82, 82);
    color: white;
    top: 0;
    left: 10%;
    padding: 5px;
    font-size: 18px;
    font-style: italic;
    border-radius: 10px;
}
.container .card p {
    font-size: 20px;
    color: black;
    margin-bottom: 5px;
}
.container .card .price {
    margin: 5px 0;
    color: rgb(209, 82, 82);
    font-style: italic;
}
#btn_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px 0 15px 0;
    background-color: transparent;
}
#btn_section .btn {
    padding: 20px;
    width: 300px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    background: transparent;
    border: 1px solid rgb(209, 82, 82);
    transition: 6s ease;
    cursor: pointer;
    color: rgb(209, 82, 82);
    transition: 6s ease;
    }
#btn_section .btn:hover {
    background: rgb(209, 82, 82);
    color: white;
    border: 1px solid white;
}
.featured {
    width: 100%;
    height: 70vh;
    background-color: transparent;
    margin: 15px 0 20px 0;
    padding: 0 50px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.featured .featured_info {
    background-color: transparent;
    width: 50%;
    height: 70vh;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.featured h3 {
    cursor: pointer;
    margin-bottom: 15px;
}
.featured .featured_info p a {
    text-decoration: none;
    color: black;
}
.featured .details_info {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.featured .details_info span.details_price {
    color: rgb(209, 82, 82);
    margin: 10px 0;
    font-style: italic;
}
.featured .featured_img {
    width: 50%;
    height: 70vh;
}
.featured .featured_img iframe {
    width: 100%;
    height: 100%;
}
.featured .featured_img img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.enquiry {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px 0;
    padding: 40px 0;
    width: 100%;
    background-color: transparent;
}
.enquiry h3 {
    font-size: 30px;
    font-style: italic;
    font-weight: 500;
    color: rgb(209, 82, 82);
    position: relative;
}
.enquiry h3::before {
    content: "";
    width: 20%;
    height: 3px;
    background-color: rgb(209, 82, 82);
    top: -10px;
    left: 45%;
    position: absolute;
}
.footer {
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 10px;
    padding: 10px 40px;
}
.footer .col a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 500;
    transition: 6s ease;
}
.footer .col a:hover {
    text-decoration: underline;
}
.footer_logo a {
    color: rgb(209, 82, 82);
    font-size: 25px;
    text-decoration: none;
}
.footer .news_letter {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.footer .news_letter h3 {
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.footer .news_letter label {
    font-size: 18px;
}
.footer .news_letter input {
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(209, 82, 82);
    background-color: transparent;
    padding: 5px 10px;
    margin: 10px 0;
}
.footer .news_letter button {
    padding: 10px 20px;
    border: 1px solid rgb(209, 82, 82);
    cursor: pointer;
    background-color: transparent;
    color: rgb(209, 82, 82);
    transition: 4s ease;
}
.footer .news_letter button:hover {
    color: white;
    background-color: rgb(209, 82, 82);
}
/* sign up */
.form {
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
    margin: 10px 0;
}
.form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 60px;
    margin: 10px 0;
    background-color: rgb(199, 194, 194);
    border-radius: 20px;
}
.form form input {
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0;
    outline: none;
    border: none;
    font-size: 17px;
}
.form form select {
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0;
    outline: none;
    border: none;
    font-size: 17px;
}
.form form textarea {
    width: 100%;
    padding: 5px;
    outline: none;
    border: none;
    font-size: 17px;
    margin-bottom: 5px;
    height: 150px;
}
.form form button {
    padding: 10px;
    border: none;
    background-color: white;
    color: rgb(209, 82, 82);
    cursor: pointer;
    transition: 2s ease;
}
.form form button:hover {
    background-color: rgb(209, 82, 82);
    color: white;
}
.form form .links {
    width: 100%;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.form form .links a:nth-child(odd) {
    margin-right: 50px;
    text-decoration: none;
    color: white;
    background-color: rgb(209, 82, 82);
    padding: 10px;
    transition: all 2s ease;
}
.form form .links a:nth-child(odd):hover {
    color: rgb(209, 82, 82);
    background-color: white;
}
.form form .links a {
    text-decoration: none;
    color: rgb(209, 82, 82);
    background-color: white;
    padding: 10px;
    transition: all 2s ease;
}
.form form .links a:hover {
    color: white;
    background-color: rgb(209, 82, 82);
}
.form .note a {
    color: rgb(209, 82, 82);
    text-decoration: none;
    transition: 2s ease;
}
.form .note a:hover {
    text-decoration: underline;
}
/* cart */
.cart {
    width: 100%;
    background-color: transparent;
    padding: 10px 40px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.cart .cart_item {
    width: 100%;
    padding: 10px;
    margin: 5px;
    background-color: rgb(241, 232, 232);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.cart .cart_item .cart_img {
    width: 50%;
    height: 70vh;
    margin-right: 5px;
}
.cart .cart_item .cart_img img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.cart .cart_item .cart_info {
    width: 50%;
    padding-left: 50px;
}
.cart .cart_item .cart_info H3 {
    color: rgb(209, 82, 82);
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 5px;
}
.cart .cart_item .cart_info  P {
    font-size: 20px;
    margin-bottom: 5px;
}
.cart .cart_item .cart_info form input {
    width: 50px;
    padding: 5px;
    outline: none;
}
.cart .cart_item .cart_info button {
    padding: 5px 10px;
    margin-bottom: 5px;
    background-color: white;
    color: rgb(209, 82, 82);
    border: none;
    cursor: pointer;
    transition: 2s ease;
}
.cart .cart_item .cart_info button:hover {
    background-color: rgb(209, 82, 82);
    color: white;
}
/* dashboard */
.dashbord {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: transparent;
}
.dashbord aside {
    width: 30%;
    background-color: rgb(235, 230, 230);
}
.dashbord aside a {
    display: block;
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid rgb(94, 91, 91);
    color: rgb(209, 82, 82);
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(199, 194, 194);
    transition: 2s ease;
}
.dashbord aside a:hover {
    background-color: rgb(235, 230, 230);
}
.dashbord aside a.active {
    background-color: rgb(240, 235, 235);
}
.dashbord main {
    width: 70%;
    padding: 20px 5px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.dashbord main .profile_img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 13%;
    margin-bottom: 30px;
    position: relative;
}
.edit {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    bottom: 0;
    right: 18%;
}
.edit a {
    color: black;
    text-decoration: none;
}
.dashbord main .profile_img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.dashbord main .profile_info p {
    margin: 10px 0;
    font-size: 18px;
}
.dashbord main .profile_info .profile_buttons button {
    padding: 5px;
    background-color: white;
    color: rgb(209, 82, 82);
    border: none;
    cursor: pointer;
    transition: 2s ease;
}
.dashbord main .profile_info .profile_buttons button:hover {
    background-color: rgb(209, 82, 82);
    color: white;
}
.dashbord main table {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    background-color: transparent;
    border-collapse: collapse;
}
.dashbord main table tr {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 5px;
    background-color: rgb(235, 230, 230);
}
.dashbord main table tr th {
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}
.dashbord main table tr td {
    text-align: center;
    vertical-align: middle;
}
.dashbord main table tr:nth-child(even) {
    background-color: white;
}
.dashbord main table tr td a {
    text-decoration: none;
    color: green;
    font-weight: 800;
    transition: 2s ease;
}
.dashbord main table tr td a.danger {
    color: red;
}
.dashbord main table tr a:hover {
    text-decoration: underline;
}
#btn {
    display: none;
}
.checkpoint {
    width: 100%;
    height: 100vh;
    background-color: rgb(209, 82, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.checkpoint a {
    margin: 0 10px;
    color: rgb(199, 194, 194);
}
/* mEDia quERIEs */
@media screen and (max-width: 850px) {
    .header {
    flex-direction: column;
    align-items: center;
    width: 100%;
    }
    .header form {
    width: 100%;
    }
    .header .logo {
    margin-bottom: 10px;
    }
    .header .socials {
    display: none;
    }
    .nav {
    flex-wrap: wrap;
    }
    .nav a {
    margin: 0 10px;
    }
    .banner {
    width: 100%;
    margin: 5px 0;
}
.banner img {
    width: 100%;
    height: 70vh;
}
.banner .banner_info {
    left: 9%;
    top: 45%;
}
.banner .banner_info h1 {
    font-size: 30px;
}
.banner .banner_info button {
    padding: 10px;
    width: 200px;
    font-size: 20px;
}
.container {
    padding: 20px;
}
.container .card {
    width: 45%;
    height: 45vh;
}
.featured {
    flex-direction: column;
    margin-top: 20px;
    }
.featured .featured_info {
    width: 100%;
    margin: 10PX 0;
}
.featured .featured_img {
    width: 100%;
}
.info {
    flex-direction: column;
}
.info .info_card {
    width: 100%;
    margin: 5PX 0;
    height: 70vh;
}
.enquiry {
    flex-direction: column;
}
.enquiry h3 {
    margin: 15px 0;
}

.footer .col a {
    margin: 10px 0;
}
h2 {
    text-align: center;
    margin: 50px 0 10px 0;
    position: relative;
}
.cart .cart_item .cart_img {
    width: 70%;
    height: 50vh;
    margin-right: 5px;
}
.cart .cart_item .cart_info {
    width: 30%;
    padding-left: 50px;
}
.form {
    height: 100vh;
}
.dashbord aside {
    width: 400px;
    position: fixed;
    left: -400px;
    top: 0;
    transition: all 0.6s ease;
    z-index: 999;
}
.dashbord main {
    width: 100%;
    }
tr {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.dashbord main table tr th {
    margin-bottom: 5px;
}
.dashbord main table tr td {
    margin-bottom: 5px;
}
.left {
    left: 0;
}
#btn {
    display: block;
    position: fixed;
    bottom: 20%;
    right: 10%;
    color: brown;
    cursor: pointer;
    font-size: 30px;
}
#btn.close {
    display: none;
}
}
@media screen and (max-width: 480px) {
    .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.container .card {
    width: 100%;
    height: 45vh;
}
.form form {
    padding: 20px;
}
.cart .cart_item {
    flex-direction: column;
}
.cart .cart_item .cart_img {
    width: 100%;
    margin-bottom: 10px;
}
.cart .cart_item .cart_info {
    width: 100%;
}
}